

<%= simple_form_for [@project, image, Comment.new], html: {class: 'comment-form'} do |f| %>
  <%= f.error_notification %>
  <%= f.input :content, as: :string, label: false, wrapper_html: {class: 'searchbar'} %>

  <%= f.input :attachment, label: false %>
  <%= f.input :attachment_cache, as: :hidden %>
  <div class="attachment">
    <i class="fa fa-file-image-o" aria-hidden="true"></i>
  </div>
<% end %>



