
<%= link_to projects_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
<ul>
<br>
<br>
<li><%=link_to "All projects", projects_path  %>

</li>
  <%= render "projects/list_open_closed" %>
</li>
<br>
<li> People</li>
 <%= render "projects/list_users" %>
</ul>
