<% if @first_image %>

        <div class="show_main_image">

        <div class="icon-trash text-right">


          <%= link_to project_image_path(@first_image), method: :delete do %>
          <div class="trash"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
          <% end %>

          </div>
          <%= cl_image_tag(@first_image.photo, width: 300, crop: :fill, class: 'large-image') %>



        </div>



        <p class="text-center">&nbsp;</p>
        <div class="comments">

          <% @first_image.comments.order(created_at: :asc).each_with_index do |com, index| %>

          <div class="comment-container <%= 'left' if index.odd? %>">

            <div class="<%= 'hide' if index.odd? %>">
              <%=image_tag(com.user.avatar, size: "35x35", alt: "No Image", class: "border-adm") %>
            </div>

            <div class="comment">
              <ul class="list-inline"><li>
                <p><b><%= com.user.name %></b> <span class="eleven_font"><%= com.created_at.strftime("%Y-%m-%d")  %></span></p>
                <p><%= com.content %></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <%= button_to "Like",  likes_path(@project,@first_image,com,like: 'true'), remote: true, method: :post %> </li><li id="commentlikes<%= com.id %>"><%=  com.likes  %></li>
                <li><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                  <%= button_to "dislike",  likes_path(@project,@first_image,com,like: 'false'), remote: true, method: :post %></li><li id="commentdislikes<%= com.id %>"> <%=  com.dislikes  %></li>
                </ul>
              </div>

              <div class="<%= 'hide' if index.even? %>">
                <%=image_tag(com.user.avatar, size: "35x35", alt: "No Image", class: "border-adm") %>
              </div>
            </div>

            <% end  %>
          </div>

          <div>


            <!-- style="position: fixed; bottom: 20px; width: 50%" -->
            <% unless @first_image.comments.any? %>
            <div class="no-comment">There are no comments yet for this item <i class="fa fa-comment-o fa-4x" aria-hidden="true"></i></div>
             <div class="spacer">&nbsp;</div>
            <% end %>

            <%= render 'comments/form', image: @first_image, class: 'sticky' %>
            <div class="spacer">&nbsp;</div>

          </div>
          <% else %>

           <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
                 <div class="spacer">&nbsp;</div>
          <div class="text-center">
          <p><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i>
</p>

          <p>Begin by uploading an image</p>
</div>



          <% end %>

