<h1>Step 1</h1>

<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :status, as: :hidden, default: "live" %>
  <%= f.input :deadline, as: :date %>
  <%= f.input :ad_networks %>
</div>
<div class="form-actions">



  <%= link_to "Step 2 >>", '#', id: 'nextstep-1'%>


  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


