<ul class="list-inline">
            <li>
            <ul>
            <li><h1 style="padding-top: 5px;"><%= @project.name %></h1> <%= @project.brand %></li>
            <li class="eleven_font"> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= pluralize(((@project.deadline - Date.today).to_i), 'day') %> left
</li>
            </ul>
            </li>
</ul>
<ul class="list-inline text-right margin_paddingless">
          <li>

          <ul class="list-inline">
          <!-- replace each with first(5) -->
          <% @project.users.each do |user|  %>

          <% adm = user.project_teams.where('project_id = ?', params[:id]).first.admin %>

          <li class="margin_paddingless">

                  <%if user[:avatar] != nil  %>
                  <%=image_tag(user.avatar, size: "40x40", alt: "No Image", class: "border-adm") %>
                  <% else  %>
                  <%=image_tag('http://www.ceskymac.cz/wp-content/uploads/2012/07/GuestUserIcon.png', size: "40x40", alt: "Edit Entry", class: "border-adm")  %>
                  <% end %>


        </li>
        <% end %>
      </ul>

          </li>
              <li>
              <%= link_to invite_users_path(@project) do %>
                <i class="fa fa-plus" aria-hidden="true"></i> Invite
                <% end %>
              </li>
              <% if @first_image %>
              <li>
                <%= link_to @first_image.photo.url, download: "download" do %>
                <i class="fa fa-download" aria-hidden="true"></i> download
                  <% end %>
              </li>
              <% end %>

              <li>
              <%= link_to  project_path(@project), method: :delete do %>
                 <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Project
              <% end %>

              </li><li>
              <%= link_to edit_project_path(@project) do %>
              <i class="fa fa-wrench" aria-hidden="true"></i> Edit
              <% end %>
            </li>
            </ul>

        </ul>
