<div class="project-card">
  <div class="project-card-header">
    <div class="text-thin deadline">
      <li class="eleven_font"> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= pluralize(((project.deadline - Date.today).to_i), 'day') %> left
    </div>

    <div class="notifications">
      <% count = 0 %>
      <% @notifications.each {|n| count = count + 1 if n.notifiable_id == project.id} %>
      <%=  content_tag(:td, count, class: ["cnt#{project.id}"]) %>
    </div>
  </div>
  <br>
  <%= link_to project do %>
    <div class="project-last-image"
         style="background-image: url(<%= cl_image_path(project.images.last.photo) if project.images.present? %>)">
    </div>
  <% end %>
  <br>
  <div class="text-regular project-name">
    <%= project.name %>
  </div>
   <div class="project-card-details">
      <%= project.brand %>
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
  </div>
</div>

