<div class="project-card">
  <div class="project-card-header">
    <div class="text-thin deadline">
      <%= project.deadline  %>
    </div>

    <div class="notifications">
      <% count = 0 %>
      <% @notifications.each {|n| count = count + 1 if n.notifiable_id == project.id} %>
      <%=  content_tag(:td, count, class: ["cnt#{project.id}"]) %>
    </div>
  </div>
  <br>
  <div class="project-last-image"
       style="background-image: url(<%= cl_image_path(project.images.last.photo) if project.images.present? %>)">
  </div>
  <br>
  <div class="text-regular project-name">
    <%= project.name %>
  </div>
   <div class="project-card-details">
      <%= project.brand %>
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
  </div>
</div>

