

<h1>Projects List</h1>
    <%= render 'global_search_bar' %>

    <%= render 'search_people_bar' %>

    <%= render 'search_bar' %>



    <% x = request.referrer %>



<!--     @notifications.each do |notification|

if request.referrer == project_path(notification.notifiable)

end -->


<% @users  %>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <ul><% @colleagues_names.each do |colleague| %>
     <li><%= link_to colleague.split.map(&:capitalize).join(' '), projects_path(filter: colleague.split.map.first) %></li>

     <% end %>
     <li><%= link_to "live projects", projects_path(filter: "live")  %></li>
     <li><%= link_to "closed projects", projects_path(filter: "closed")  %></li>
   </ul>


    <% @projects.each do |project| %>

    <% count = 0 %>
    <%  @notifications.each {|n| count = count + 1 if n.notifiable_id == project.id} %>

      <tr>
      <td> <%= project.name %> <%= count %></td>
      <%=  content_tag(:td, count, class: ["cnt#{project.id}"]) %>

      <%if project.images.last == nil %>

       <td> <%= cl_image_tag('https://dummyimage.com/200x200/000/fff&text=No+Image+Available', width: 200, height: 200, crop: :fill) %> <br></td>

       <%else  %>

      <td> <%= cl_image_tag(project.images.last.photo, width: 200, height: 200, crop: :fill) %> <br></td>

      <%end  %>

       <td> <% project.project_teams.each do |x|  %></td>
       <td><%= x.user.name  %></td>

       <% end %>

        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <ul></ul>


    <% end %>
  </tbody>
</table>

<br>


<div class="activity"><ul></ul></div>

<%= link_to 'New Project', new_project_path %>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  <%= link_to 'New Project', new_project_path %>
</button>
   <%= render 'modal' %>




<button class="comments">submit</button><div class="out"></div>

<% content_for :after_js do %>
<script>
var activity = {};
    setInterval(function(){



          $.ajax({
            method: "GET",
            url: "<%= notifications_path %>",
            success: function (data) {

              //for activity count per project

              var projects_to_update = [];
              var counter = {};


            for (var obj in data) {
              projects_to_update.push(data[obj].notifiable)
              activity[data[obj].id] = [data[obj].notifiable, data[obj].actor, data[obj].action]
            };

            for (var i = 0; i < projects_to_update.length; i++) {
              counter[projects_to_update[i]] = counter[projects_to_update[i]] + 1 || 1
            }
              // console.log(counter)
              for(var prop in counter){
                $('.cnt' + prop).text(counter[prop])
              }

              // for(var prop in activity) {
              //   $('.activity ul').text('<li>' + activity[prop][1] + ' ' + activity[prop][2] + '</li>')
              // }



              console.log(activity);



            },
              error: function(jqXHR) {
          alert(jqXHR.responseText);
            }
          });
        }, 20000);


</script>
<% end %>



