<p id="notice"><%= notice %></p>

<h1>Projects List</h1>
    <%= render 'global_search_bar' %>

    <%= render 'search_people_bar' %>

    <%= render 'search_bar' %>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <ul><% @colleagues_names.each do |colleague| %>
     <li><%= link_to colleague.split.map(&:capitalize).join(' '), projects_path(filter: colleague.split.map.first) %></li>

     <% end %>
     <li><%= link_to "live projects", projects_path(filter: "live")  %></li>
     <li><%= link_to "closed projects", projects_path(filter: "closed")  %></li>
   </ul>


    <% @projects.each do |project| %>

    <% count = 0 %>
    <%  @notifications.each {|n| count = count + 1 if n.notifiable_id == project.id} %>

      <tr>
      <td> <%= project.name %> <%= count %></td>


      <%if project.images.last == nil %>

       <td> <%= cl_image_tag('https://dummyimage.com/200x200/000/fff&text=No+Image+Available', width: 200, height: 200, crop: :fill) %> <br></td>

       <%else  %>

      <td> <%= cl_image_tag(project.images.last.photo, width: 200, height: 200, crop: :fill) %> <br></td>

      <%end  %>

       <td> <% project.project_teams.each do |x|  %></td>
       <td><%= x.user.name  %></td>

       <% end %>

        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <ul></ul>


    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>



