
<div class="show">
<div class="container-fluid">

  <div class="row">

    <div class="col-sm-2">

      <p>hsghss</p>
      <p>jshdsqd</p>
      <p>hsghss</p>
      <p>jshdsqd</p>
      <p><%= link_to 'Back', projects_path %></p>

    </div>

    <div class="col-sm-10" style="border: 1px dotted black">

      <div class="row">

        <div class="col-sm-12">

          <%= render 'lower_nav' %>

        </div>

      </div>

      <ul class="nav nav-tabs">

        <li class="active"><a data-toggle="tab" href="#home"><h1>Discussion Board</h1></a></li>

        <li><a data-toggle="tab" href="#menu1"><h1>Brief</h1></a></li>

      </ul>

      <div class="row outer">

        <div class="tab-content">

          <div id="home" class="tab-pane fade in active">

            <div class="col-sm-8 grey-bg" style="border: 2px solid red; height: 800px;">

             <%= render 'comments' %>

           </div>

         </div>

         <div id="menu1" class="tab-pane fade">

          <div class="col-sm-8 grey-bg" style="border: 2px solid red; height: 800px;">
            <%= simple_form_for(@project) do |f| %>
            <%= f.error_notification %>
               <%= render 'form_np_2',{project: @project, f:f} %>
            <% end %>
         </div>

       </div>

     </div>

     <div class="col-sm-4 right-column" style="border: 1px dotted black;">

      <%= render 'rhs_uploads' %>

      <div class="white_backround">

       <div class="new_img" style="position: fixed; bottom: 0px;">

        <%= link_to "New Image", new_project_image_path(@project) %>

      </div>

    </div>

  </div>

</div>

</div>

</div>

</div>

</div>

<% content_for :after_js do %>
<script>
  $(".comments").on('click', function(){
    var comments = $(this).html();
    $('#main-image').html(comments);
    $('#main-image div').css("display", "block");
    $(".small-image:first").addClass('large-image').removeClass('small-image');
  });
    // $(window).load(function()
    $(window).load(function() {

      var proj = JSON.stringify({
        "project": <%= @project.id %>
      });

      $.ajax({
        method: "DELETE",
        url: "<%= notification_path(@project) %>",
        data: proj,
        success: function (argument) {
          // body...
          alert("succes")
        },
        error: function(jqXHR) {
          alert(jqXHR.responseText);
        }
      });

    });

    $('.attachment').on('click', function(){
      $('#comment_attachment').trigger('click');
    });

    $('.fa-thumbs-o-up').on('click', function() {
      $("input[value='Like']").trigger('click');
    });

    $('.fa-thumbs-o-down').on('click', function(){
      $("input[value='dislike']").trigger('click');
    })

    $('.swap-image').on('click', function(){



    });
  </script>
  <% end %>





