<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Importing an online CSS for my date picker -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  </head>
  <body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <%= render 'shared/sidebar' %>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- content of page -->
                            <%= render 'shared/navbar' unless @disable_nav%>
                            <%= render 'shared/flashes' %>
                            <%= yield %>
                            <%= render 'shared/footer' %>
                            <%= javascript_include_tag 'application' %>
                            <%= yield(:after_js) %>
                            <!-- Importing an online javascript for my date picker -->
                            <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
                            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
