<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title_tag).blank? ? "AdSmash" : yield(:title_tag) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Importing an online CSS for my date picker -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  </head>
  <body>

    <div style="background-color: black;">
      <%= render 'shared/navbar'%>

      </div>
      <%= render 'shared/flashes' %>
      <%= yield %>

    <%= render 'shared/footer' unless user_signed_in?%>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>

    <!-- Importing an online javascript for my date picker -->
      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
     <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  </body>
</html>
